Unreliable Narrator/Library
/.vs/Unreliable Narrator Jam/FileContentIndex/dad3ae4f-bcfc-42d9-94e7-278ab240a942.vsidx
/Unreliable Narrator/.vs/Unreliable Narrator/v17/.suo
/Unreliable Narrator/.vs/Unreliable Narrator/v17/DocumentLayout.json
